/* Font Styles */
.rubik-f1 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-f1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.mainTitle {
    font-size: 52px;
    line-height: 68px;
    letter-spacing: 2px;
    color: #0F416A;
}

.mainSubTitle {
    font-size: 18px;
    line-height: 26px;
}

h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-align: left;
    color: #48B9EA;
}

.subTitleFooterStyle {
    /*font-family: Inter; */
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    color: white;
}

.TitleFooterStyle {
    font-size: 42px;
    font-weight: 300;
    line-height: 52px;
    text-align: center;
}

.subTitle {
    font-size: 42px;
    font-weight: 300;
    line-height: 52px;
    text-align: left;
    margin: 0;
}

/* Util */
.left {
    margin: 0;
    position: relative;
    top: 200px;
    left: 400px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.left-mod1 {
    margin: 0;
    position: relative;
    top: 50%;
    left: 35%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.right {
    margin: 0;
    position: relative;
    bottom: 50%;
    left: 800px;
}

.right-mod1 {
    margin: 0;
    position: relative;
    bottom: 10%;
    left: 82%;
    transform: translate(-50%, -50%);
}

.right-mod2 {
    margin: 0;
    position: relative;
    top: 37%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.button {
    width: 175px;
    height: 60px;
    border-radius: 100px;
    color: #F4F4F4;
    background-color: #48B9EA;
    top: 77%; left: 100px;
    font-size: 18px;
    border: transparent;
}

.buttonFooter {
    width: 175px;
    height: 60px;
    border-radius: 100px;
    color: #F4F4F4;
    background-color: transparent;
    top: 77%; left: 100px;
    font-size: 18px;
    border: white;
    border-width: 1px;
    border-style: solid;
}

.footerButtonStyle {
    width: 175px;
    height: 60px;
    border-radius: 100px;
    color: #F4F4F4;
    background-color: #48B9EA;
    top: 77%; left: 100px;
    font-size: 18px;
    border: transparent;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.center-mod1 {
    margin: 0;
    position: relative;
    top: 37%;
    left: 51%;
    transform: translate(-50%, -50%);

}

.gradient {
    color: white;
    background-image: linear-gradient(to right, #0F416A, #48B9EA);
}

/* div classes */
.overallPage {
    flex-direction: column;
    display: flex;
    justify-content: center;
    position:absolute;
    margin: 0;
    left:0;
    right:0;
    top: 0;
}

.backgroundImageGradient1Right {
    background-color: #F4F4F4;
    background-image: linear-gradient(to right, white, transparent), url("images/72a3ceb4033cb8345cedab75d663da51.png");
}

.backgroundImageGradient2Left {
    background-color: #F4F4F4;
    background-image: linear-gradient(to left, white, transparent), url("images/242d5f703fdcf4fa75a2265ceff4834d.png");
}

.backgroundImageGradient3Right {
    background-color: #F4F4F4;
    background-image: linear-gradient(to right, white, transparent), url("images/05199539838628962179ae087d5bd1d0.png");
}

.backgroundImageGradient4Left {
    background-color: #F4F4F4;
    background-image: linear-gradient(to left, white, transparent), url("images/f43ab848a0895bbf8823389c873d4a11.png");
}