.rubik-f1 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-f1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.mainTitle {
    font-size: 52px;
    line-height: 68px;
    letter-spacing: 2px;
    color: #0F416A;
}

.appImage {
    background-image: url("images/a.png");
}